<!-- templates/labels/create.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">Изменение статуса</h1>


<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="text" 
                   name="{{ field.name }}" 
                   maxlength="100" 
                   class="form-control" 
                   placeholder="{{ field.label }}" 
                   required 
                   id="{{ field.id_for_label }}"
                   value="{{ field.value|default:'' }}">
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}{{ error }}{% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="{% trans 'Изменить' %}">
</form>
{% endblock %}