<!-- templates/labels/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!-- Page Header -->
<h1 class="my-4">Метки</h1>

<!-- Create Label Button -->
<a class="btn btn-primary mb-3" href="{% url 'label_create' %}" role="button">Создать метку</a>

<!-- Labels Table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <div class="d-flex flex-column gap-1">
                    <a href="{% url 'label_update' label.pk %}">Изменить</a>
                    <a href="{% url 'label_delete' label.pk %}"">Удалить</a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center text-muted">
                {% trans "No labels found" %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}