<!-- templates/tasks/index.html -->
{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<h1 class="my-4">Задачи</h1>

<!-- Create Task Button -->
<a class="btn btn-primary mb-3" href="{% url 'task_create' %}" role="button">Создать задачу</a>

<!-- Filter Form -->
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" method="get">
            <div class="mb-3">
                <label class="form-label" for="{{ filter.form.status.id_for_label }}">{{ filter.form.status.label }}</label>
                {{ filter.form.status }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ filter.form.executor.id_for_label }}">{{ filter.form.executor.label }}</label>
                {{ filter.form.executor }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ filter.form.label.id_for_label }}">{{ filter.form.label.label }}</label>
                {{ filter.form.label }}
            </div>
            <div class="mb-3">
                <div class="form-check">
                    {{ filter.form.self_tasks }}
                    <label class="form-check-label" for="{{ filter.form.self_tasks.id_for_label }}">
                        {{ filter.form.self_tasks.label }}
                    </label>
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Показать">
        </form>
    </div>
</div>

<!-- Tasks Table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in filter.qs %}
        <tr>
            <td>{{ task.id }}</td>
            <td>
                <a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a>
            </td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.author.get_full_name|default:task.author.username }}</td>
            <td>
                {% if task.executor %}
                    {{ task.executor.get_full_name|default:task.executor.username }}
                {% endif %}
            </td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <div class="d-flex flex-column gap-1">
                    <a href="{% url 'task_update' task.pk %}"">Изменить</a>
                    <a href="{% url 'task_delete' task.pk %}"">Удалить</a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center text-muted">
                Задачи не найдены
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}